<h1>Display your Pirate here</h1>
Pirate Name: <%= @pirate["name"] %>
Pirate Weight: <%= @pirate["weight"] %>
Pirate Height: <%= @pirate["height"] %>

<h2>Display your first ship here</h2>
Ship 1 Name: <%= @ship_1["name"] %>
Ship 1 Type: <%= @ship_1["type"] %>
Ship 1 Booty: <%= @ship_1["booty"] %>

<h2>Display your second ship here</h2>
Ship 2 Name: <%= @ship_2["name"] %>
Ship 2 Type: <%= @ship_2["type"] %>
Ship 2 Booty: <%= @ship_2["booty"] %>
